---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenido a Myrtech Informatica SLU">

	<div class="flex flex-col justify-between items-center">

		<div class="flex flex-col items-center my-20">
			<div class="titulo-1">Myrtech Informática S.L.U.</div>
			<hr class="w-1/6 my-8"></hr>
			<div class="titulo-2 text-neutral-200">Soluciones para el mundo real</div>
		</div>

		<div class="normal p-8 mb-8 rounded w-2/3">
			Myrtech Informática ofrece servicios de consultoría, despliege y mantenimiento de servicios de IT en la nube, 
			así como la creación de aplicaciones cloud, aplicaciones móbiles o PWAs a medida.
			<br/><br/>
			Después de 20 años de funcioniento y a causa de la crisis actual de COVID-19 hemos decidido parar 
			nuestra actividad desde el 01 de Enero de 2022 durante tiempo indefinido.
		</div>
	</div>

</Layout>

<style>
	.titulo-1 {
		font-size: 5rem;
		color: white;
		text-align: center;
	}

	.titulo-2 {
		font-size: 1.5rem;
	}

	.normal {
		background-color: white;
		text-align: justify;
		margin-top: 5em;
	}
</style>